
  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

  /*font-family: 'Kumbh Sans', sans-serif;*/

  :root{
    --color1: hsl(185, 75%, 39%);
    --color2: hsl(229, 23%, 23%);
    --color3: hsl(227, 10%, 46%);
    --color4: hsl(0, 0%, 59%);
    --shadow-card: 5px 5px 20px rgba(0,0,0,0.2);

  }
*, *::after, *::before{
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.site{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}

body .container{
    width: 100%;
    height: 100vh;
    background-color: var(--color1);
    overflow-y: hidden;
    position: relative;
}
body .container #img1{
    position: absolute;
    bottom: 50%;  
    width: 50%;
    height: 100%;
    background: url(../img/bg-pattern-top.svg) no-repeat;
    background-size: cover;
}
body .container #img2{
    position: absolute;
    right: 0;
    top: 50%;
    width: 50%;
    height: 100%;
    background: url(../img/bg-pattern-bottom.svg) no-repeat;
    background-size: cover;
}
body .container .profile-container{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}
body .container .profile-container .profile-card{
    width: 23em;
    height: 28em;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
    overflow-y: hidden;
    box-shadow: var(--shadow-card);
    position: relative;
}
body .container .profile-container .profile-card #img3{
    background: url(../img/bg-ace.svg);
    background-size: cover;
    filter: saturate(1.8);
    width: 100%;
    height: 11em;
    border-radius: 10px 10px 0px 0px;
}
body .container .profile-container .profile-card .profile-items{
    position: absolute; 
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;   
}
body .container .profile-container .profile-card .profile-items #profile-picture{ 
    border: solid 8px #fff;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    position: absolute;
    top: -50px;
}
body .container .profile-container .profile-card .profile-items .profile-details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27%;
}
body .container .profile-container .profile-card .profile-items .profile-details .profile-info{
    width: 100%;
    text-align: center;
    padding: 2%;
    margin-bottom: 7%;
}
body .container .profile-container .profile-card .profile-items .profile-details h3{
    font-weight: 700;
}
body .container .profile-container .profile-card .profile-items .profile-details h3::after{
    content: "19";
    font-weight: 400;
    color: var(--color4);
    margin-left: 2%;
}
body .container .profile-container .profile-card .profile-items .profile-details span{
   font: 400;
   color: var(--color4);
}
body .container .profile-container .profile-card .profile-items .profile-details .profile-stats{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around; 
    text-align: center;
    padding: 5%;
}
body .container .profile-container .profile-card .profile-items .profile-details .profile-stats h4{
    font-weight: 700;
    font-size: 1.3em;
} 
body .container .profile-container .profile-card .profile-items .profile-details .profile-stats p{
    font-weight: 400;
    color: var(--color4);
}     
hr{
    width: 100%;
}

@media screen and (min-width: 375px) and (max-width: 600px){



}